In [1]:
import pandas as pd
import numpy as np

In [2]:
batting_df = pd.read_csv("ipl_2023_batting.csv")
batting_df.head(7)

,batsman,out,run,ball,minutes,4s,6s,sr,match_id,batting_position
0,Wriddhiman Saha †,c †Dhoni b Chahar,54,39.0,63,5.0,1.0,138.46,1370353,1
1,Shubman Gill,st †Dhoni b Jadeja,39,20.0,34,7.0,0.0,195.00,1370353,2
2,Sai Sudharsan,lbw b Pathirana,96,47.0,58,8.0,6.0,204.25,1370353,3
3,Hardik Pandya (c),not out,21,12.0,32,0.0,2.0,175.00,1370353,4
4,Rashid Khan,c Gaikwad b Pathirana,0,2.0,2,0.0,0.0,0.00,1370353,5
5,Extras,"(b 1, lb 1, w 2)",4,NaN,NaN,NaN,NaN,NaN,1370353,6
6,TOTAL,20 Ov (RR: 10.70),214/4,NaN,NaN,NaN,NaN,NaN,1370353,7

In [3]:
# extra_df = batting_df[batting_df.batsman == 'Extras']
# extra_df.head()

In [4]:
# extra_df = extra_df.drop(columns = ['ball','minutes','4s','6s','sr'])
# extra_df.head()

In [5]:
# extra_df = extra_df.rename(columns = {'out':'split_info'})
# extra_df.head()

In [6]:
# def get_split(info, column_name):
    
#     temp_info = info.split(',')
#     temp_info = [ i.replace('(','').replace(')','').strip().split() \
#                  for i in temp_info ]
    
#     temp_split = np.array(temp_info)
#     if column_name in temp_split[:,:1]:
#         split_index = (list(temp_split[:,:1].flatten()).index(column_name))
#         return int(temp_split[split_index,1:])
#     else :
#         # print("not found")
#         return 0
    
#     # print(temp_split)
#     return 0

In [7]:
# extra_df[extra_df.split_info.isna() == True]

In [8]:
# extra_df = extra_df[extra_df.split_info.isna() == False]
# extra_df.head()

In [9]:
# extra_df['w'] = extra_df.split_info.apply(get_split, args=['w'])
# extra_df['b'] = extra_df.split_info.apply(get_split, args=['b'])
# extra_df['lb'] = extra_df.split_info.apply(get_split, args=['lb'])
# extra_df['nb'] = extra_df.split_info.apply(get_split, args=['nb'])

In [10]:
# extra_df = extra_df[['match_id', 'w', 'b', 'lb', 'nb', 'run']]
# extra_df.reset_index(drop = True, inplace = True)
# extra_df.sort_values(by = 'match_id', ascending = False)

In [11]:
# extra_df.shape

In [12]:
# extra_df.to_csv("extra_2023_batting.csv", index = False)

In [13]:
# total_df = batting_df[batting_df.batsman == 'TOTAL']
# total_df.head()

In [14]:
# total_df['rr'] = total_df.out.apply(lambda x: x.replace('(','').replace(')','').strip().split()[-1])
# total_df.head()

In [15]:
# total_df['wicket'] = total_df.run.apply(lambda x: x.split('/')[-1])
# total_df.run = total_df.run.apply(lambda x: x.split('/')[0])
# total_df.head()

In [16]:
# total_df = total_df[['match_id', 'run', 'wicket', 'rr']]
# total_df.head()

In [17]:
# total_df.to_csv("total_2023_batting.csv", index = False)

-

In [15]:
batsman_df = batting_df.query("batsman not in  ['Extras', 'TOTAL']")
batsman_df.head(7)

,batsman,out,run,ball,minutes,4s,6s,sr,match_id,batting_position
0,Wriddhiman Saha †,c †Dhoni b Chahar,54,39.0,63,5.0,1.0,138.46,1370353,1
1,Shubman Gill,st †Dhoni b Jadeja,39,20.0,34,7.0,0.0,195.00,1370353,2
2,Sai Sudharsan,lbw b Pathirana,96,47.0,58,8.0,6.0,204.25,1370353,3
3,Hardik Pandya (c),not out,21,12.0,32,0.0,2.0,175.00,1370353,4
4,Rashid Khan,c Gaikwad b Pathirana,0,2.0,2,0.0,0.0,0.00,1370353,5
7,Wriddhiman Saha †,st †Ishan Kishan b Chawla,18,16.0,31,3.0,0.0,112.50,1370352,1
8,Shubman Gill,c David b Madhwal,129,60.0,86,7.0,10.0,215.00,1370352,2

In [16]:
batsman_df.batting_position.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11], dtype=int64)

In [19]:
batsman_df.out = batsman_df.out.apply(lambda x: x.replace("†", ""))
batsman_df.batsman = batsman_df.batsman.apply(lambda x: \
                                              str(x).replace("†", "").rstrip(" \(c\)").rstrip())

C:\Users\Mukesh\AppData\Local\Temp\ipykernel_13352\245044437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batsman_df.out = batsman_df.out.apply(lambda x: x.replace("†", ""))
C:\Users\Mukesh\AppData\Local\Temp\ipykernel_13352\245044437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batsman_df.batsman = batsman_df.batsman.apply(lambda x: \

In [21]:
batsman_df['dismissed'] = batsman_df.out.apply(lambda x: 0 if str(x).strip() == 'not out' else 1)
batsman_df.head(5)

C:\Users\Mukesh\AppData\Local\Temp\ipykernel_13352\4109528800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  batsman_df['dismissed'] = batsman_df.out.apply(lambda x: 0 if str(x).strip() == 'not out' else 1)

,batsman,out,run,ball,minutes,4s,6s,sr,match_id,batting_position,dismissed
0,Wriddhiman Saha,c Dhoni b Chahar,54,39.0,63,5.0,1.0,138.46,1370353,1,1
1,Shubman Gill,st Dhoni b Jadeja,39,20.0,34,7.0,0.0,195.00,1370353,2,1
2,Sai Sudharsan,lbw b Pathirana,96,47.0,58,8.0,6.0,204.25,1370353,3,1
3,Hardik Pandya,not out,21,12.0,32,0.0,2.0,175.00,1370353,4,0
4,Rashid Khan,c Gaikwad b Pathirana,0,2.0,2,0.0,0.0,0.00,1370353,5,1

In [22]:
batsman_df.to_csv('batting.csv', index = False)

In [24]:
# batsman_df['run'] = pd.to_numeric(batsman_df.run)
# batsman_df['minutes'] = pd.to_numeric(batsman_df['minutes'])
# batsman_df['minutes'] = batsman_df.minutes.astype(int)

In [10]:
# batsman_df.head()

In [26]:
# batsman_df.groupby(by=["batsman"]).sum()